{% extends 'chat/base.html' %}
{% block title %}Advertisements form{% endblock %}




{% block body %}

<style>
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #2b669a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #2b669a;
}

#form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
</style>

<div class="card" style="margin:30%;margin-top:10%;margin-bottom:5%">
<div class="card-body" style="background-color: #ebebeb">
  <br>
<div class="card-title">
<center><h2>Advertise with us</h2></center>
</div>
<div id="form">
  <form  enctype="multipart/form-data" method="POST">
    {%   csrf_token %}

    <label>Adverrtiser:</label>
    {{ form.Advertiser }}
    <label>Email:</label>
    {{ form.email }}
    <label>Image:</label>
    {{ form.image }}<br>
    <label>Website link:</label>
    {{ form.link }}


    <input type="submit" value="Submit">
  </form>
</div>
</div>
</div>
{% endblock %}


