{% extends 'profile/header.html' %}
{% block content %}
<div  class="col-sm-8" style="color:darkgreen ">
	<form method="POST">
		{% csrf_token %}
		<!--<input id="hello" type="text" class="datepicker">-->
	<!--<label for="hello" class>hello</label>-->
		<!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h4>Change Password</h4><br><br>-->
	<!--<hr style="border-color:#f4c613">-->
		<h6>Old Password:</h6>
	<!--&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp-->
		{{change_form.old_password}}<br>
	<!--{{change_form.old_password.errors}}<br>&ndash;&gt;-->
		<h6>New Password:</h6>
		<!--&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp-->
		{{change_form.new_password1}}
	<!--<br>{{change_form.new_password1.errors}}<br>&ndash;&gt;-->
		<h6>Confirm New Password:</h6>{{change_form.new_password2}}<br>
	<!--<{{change_form.new_password2.errors}}<br>&ndash;&gt;-->
		<button class='btn-general btn-profile' type="submit">change</button>

		<div class="row">
    <!--&lt;!&ndash;<div class="col s12">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="input-field col s12">&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;<i class="material-icons prefix"></i>&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;<input type="text" id="autocomplete-input" class="autocomplete">&ndash;&gt;-->
          <!--&lt;!&ndash;<label for="autocomplete-input">Autocomplete</label>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
  </div>

	</form>
</div>
{% endblock %}